<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body class="row-c">

    <main class="encuesta-container">
        <h2 class="underline">Submited information</h2>
        <div>
            <div>
                <span>Name:</span>
                <span><%= encuesta.name %></span>
            </div>
            <div>
                <span>Dojo Location:</span>
                <span><%= encuesta.location %></span>
            </div>
            <div>
                <span>Favorite Languaje:</span>
                <span><%= encuesta.language %></span>
            </div>
            <div>
                <span>Comment</span>
                <span><%= encuesta.comment %></span>
            </div>
        </div>
    </main>


</body>
</html>